:root {
    --cor-principal: #21c4cf;
    --cor-secundaria: #0a7c85;
    --branco-principal: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
}

div img {
    display: block;
    width: 60%
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color:var(--cor-principal);
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--branco-principal);
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: var(--branco-principal);
}

header .menu {
    justify-content: space-between;
}


.apresentacao {
    height: 50vh;
    align-items: center;
    justify-content: space-between; 
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color: var(--cor-secundaria);
    font-size: 48px;
    margin-bottom: 10px
}

#img-inicio {
    margin-left: 150px;
}

.btn{
    background-color: var(--cor-principal);
    color: var(--branco-principal);
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover{
    color: var(--branco-principal);
    background-color: var(--cor-secundaria);
} 

#img-quemsomos{
    width: 500px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: flex-start ;
    justify-content: space-around;

}

#quem-somos h2{
    font-size: 32px;
    color:var(--cor-secundaria);
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--cor-principal);
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

.container-externo {
    background-color: var(--cor-secundaria);
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: var(--branco-principal);
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{
    display: flex;
    justify-content: space-between  ;
}

.list-servicos .item-servicos{
    text-align: center;
}

.item-servicos a{
    width: 220px;
    background-color: var(--branco-principal);
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: var(--cor-secundaria);
    font-size: 12px;
    text-decoration: none;  
    font-weight: 700;  
}

.item-servicos p{
    font-weight: 700;
    font-size: 12px;
    color: var(--branco-principal);
    margin-top: 20px;
}

.item-servicos img{
    width: 80px;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 50vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;

}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
     flex: 1;
     border: 2px solid var(--cor-secundaria);
     margin-right: 20px;
     padding: 10px;
     max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: var(--cor-principal);
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li:before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--cor-secundaria);
    margin-right: 5px;
}

footer{
    background-color: var(--cor-principal);
    height: 100px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
    color: var(--branco-principal);
    font-weight: bold;
}

/* mobile */

@media(max-width: 992px) {
     
    header h1{
        margin-left: 30px;
        margin-bottom: 15px;
    }

    .list-items li a{
        margin: 30px;
        white-space: nowrap;
    }

    .flex-container{
        flex-direction: column;
    }

    #img-inicio {
        margin-top: 50px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        height: 600px;
        text-align: center;
        margin-bottom: 50px;
    }

    .apresentacao a{
        margin-top: 30px;
    }

    .btn {
        margin: 0 auto;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
        align-items: center;
    }

    #quem-somos h2, p{
        margin: 15px;
    }

    #img-quemsomos{
        width: 433px;
    }

    .list-servicos{
        flex-direction: column;
    }

    #servicos{
        height: 890px;
    }

    .container-externo h2{
        text-align: center;
        text-decoration: underline;
        line-height: 25px;
    }

    .item-servicos img{
        width: 20%;
        margin-top: 45px;
    }

    #planos h2{
        text-align: center;
        margin-bottom: 15px;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px
    }
}
    